body{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: black;
    color: white;
   
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.2rem;

}
.weastherform{
    margin: 20px;

}
.cityinput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 15px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(77, 196, 77);
    cursor: pointer;
    border-radius: 10px;    
}
button[type="submit"]:hover{
    background-color: rgb(33, 221, 33);
    color: black;
}
.card{
    padding: 50px;
    box-shadow: 10px 10px 50px rgb(138, 127, 67);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 2rem;
    margin: 5px 0;

}
.cityDisplay, .tempDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 25px;

}
.humiditydisplay{
    font-weight: bold;
    margin-bottom: 25px;

}
.Descriptiondisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmojidisplay{
    margin: 0;
    font-size: 7.5rem;
}
.errordisplay{
    font-size: 2.5rem;
    font-weight: bold;
}